.DS_Store

.env

.conda
.venv

tst**.ipynb
tst/

data

results

logs

rpt**.md

# Ignore checkpoints
ai_ml_job_classiffier/
ai_ml_job_classiffier/training_args.bin
ai_ml_job_classiffier/model.safetensors
