# Data Processing & Analysis
numpy
pandas
scikit-learn
imblearn

# Machine Learning & Deep Learning
xgboost
tensorflow
tf-keras
torch
transformers
evaluate
gensim
kagglehub

# Jupyter Environment
ipykernel
ipywidgets
jupyter
notebook

# Google AI
# google-generativeai

# Data Visualization
matplotlib
seaborn
wordcloud

# Natural Language Processing (NLP)
accelerate
nltk
spacy
textblob
vaderSentiment

# API & HTTP
requests

# Utility
fastparquet
pyarrow
python-dotenv
tenacity
tqdm
tabulate
