# Data Processing & Analysis
pandas
numpy
scikit-learn
wordcloud

# Jupyter Environment
# jupyter
# notebook
# ipykernel

# Google AI
google-generativeai

# Data Visualization
matplotlib
seaborn

# API & HTTP
requests

# Utility
python-dotenv
tqdm
tenacity
pyarrow
fastparquet
tqdm


# Tensorflow
tensorflow
# keras
tf-keras

# NLP
nltk
spacy
textblob
vaderSentiment
accelerate
transformers
torch
geopandas